.can6x7v[class][class]{position:relative;}

.e17hsan[class][class]{display:flex;justify-content:center;}

.dir.e17hsan[class][class]{margin-top:var(--fgg-f-l-a);}
.i1wpcytr[class][class]{display:inline;}
