.s1f23tw1[class][class]{display:block;width:var(--s1f23tw1-3);top:var(--s1f23tw1-4);bottom:var(--s1f23tw1-5);position:var(--s1f23tw1-7);z-index:1;opacity:var(--s1f23tw1-8);overflow-y:auto;max-height:var(--s1f23tw1-9);}

.dir.s1f23tw1[class][class]{background:var(--f-mkcy-f);box-shadow:var(--cizosd);border-radius:var(--go-h-jh-l);transition:opacity 0.3s linear;}

.dir-ltr.s1f23tw1[class][class]{right:var(--s1f23tw1-6);}

.dir-rtl.s1f23tw1[class][class]{left:var(--s1f23tw1-6);}
.dir.m3j51jg[class][class]{margin-bottom:var(--ikx-k-pe);}
.dir.rcem0st[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;}

.dir.cngiwj8[class][class]{padding-top:16px;padding-bottom:16px;}

.dir.uyl8mnh[class][class]{padding-top:8px;padding-bottom:8px;}

.dir.u6fux4d[class][class]{padding-top:0;padding-bottom:0;}

.dir.d750e13[class][class]{cursor:not-allowed;}
.dir-ltr.t92b9vb[class][class]{margin-left:16px;}

.dir-rtl.t92b9vb[class][class]{margin-right:16px;}
.t12gn8ba[class][class]{font-size:var(--cv-p-u-ui);line-height:var(--hu-t-o-g-n);font-weight:var(--jx-zk-pv);color:var(--f-k-smk-x);font-size:var(--g-zgv-nj);line-height:var(--b-x-z-q-l-e);}

.dir.i13jfbzc[class][class]{margin-bottom:var(--jaa-ni-h);}

.kbw9j3p[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--e-y-j-d-v-j);color:var(--f-k-smk-x);}

.dir.kbw9j3p[class][class]{margin-bottom:var(--fgg-f-l-a);}

.s1u01wwz[class][class]{font-size:var(--ll-l-ys-f);line-height:var(--f-xgviq);font-weight:var(--e-y-j-d-v-j);color:var(--fo-jk-r-s);}

.dir.s1u01wwz[class][class]{margin-top:var(--fgg-f-l-a);}
.d5v3ssg[class][class]{width:var(--d5v3ssg-3);}

.dir.d5v3ssg[class][class]{border-top-width:1px;border-top-style:solid;border-color:var(--j-qkgmf);margin-top:var(--d5v3ssg-1);margin-bottom:var(--d5v3ssg-2);margin-left:auto;margin-right:auto;}
