.atm_9s_1o8liyq{display:inline-block;}

.dir.atm_9j_tlke0l{cursor:pointer;}

.dir.atm_r3_1h6ojuz{text-align:center;}

.dir.atm_3f_97hwo{border:1px solid black;}

.dir.atm_2d_1x778eo.atm_2d_1x778eo{background-color:white;}

.atm_kd_glywfm{outline:none;}

.dir.atm_l8_idpfg4{padding:0;}

.dir.atm_gi_idpfg4{margin:0;}

.dir.atm_2d_11x86a4.atm_2d_11x86a4{background-color:black;}

.atm_7l_1x778eo{color:white;}

.dir.atm_9j_13gfvf7{cursor:not-allowed;}

.dir.atm_2d_32ev60.atm_2d_32ev60{background-color:pink;}

.dir.atm_3f_107edj6{border:1px solid red;}

.dir.atm_3f_idpfg4{border:0;}

.atm_7h_hxbz6r{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.atm_7i_ysn8ba{-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.atm_e2_t94yts{height:1px;}

.atm_ks_15vqwwr{overflow:hidden;}

.atm_ks_zryt35{overflow:clip;}

.atm_mk_stnw88{position:absolute;}

.atm_vv_1q9ccgz{white-space:nowrap;}

.atm_vy_t94yts{width:1px;}

.atm_9s_1ulexfb{display:block;}

.atm_ax_idpfg4.atm_ax_idpfg4{flex-grow:0;}

.atm_bb_idpfg4.atm_bb_idpfg4{flex-shrink:0;}

.atm_9s_1txwivl{display:flex;}

.atm_h_1h6ojuz.atm_h_1h6ojuz{align-items:center;}

.atm_fc_1h6ojuz.atm_fc_1h6ojuz{justify-content:center;}
