.boaltu9[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.boaltu9[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.boaltu9[class][class]:hover{cursor:pointer;}}

.boaltu9[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.ffzwuj8[class][class]{width:100%;display:block;}

.sbi8dxt[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sbi8dxt[class][class]:not(:focus){border:0;padding:0;}

.c19rgdxi[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;outline:none;}

.dir.c19rgdxi[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.c19rgdxi[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c19rgdxi[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.dir.c19rgdxi[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c19rgdxi[class][class]:focus::-moz-focus-inner{border:none;}

.c19rgdxi[class][class]:-moz-focusring{outline:none;}

.c19rgdxi[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c19rgdxi[class][class]:focus-visible{border-radius:var(--h-l-f-om-o);transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c19rgdxi[class][class]:focus-visible{transition:none;}}

.c19rgdxi[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c19rgdxi[class][class]:focus[data-focus-visible-added]{border-radius:var(--h-l-f-om-o);transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c19rgdxi[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (hover:hover){
.c19rgdxi[class][class]:hover{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}}

.c19rgdxi[class][class]:active{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}

.c19rgdxi[class][class]:focus{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}

.c19rgdxi[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:none;text-decoration:none;}
