.cbt5pty[class][class]{display:flex;flex-direction:column;height:100%;width:100%;}

.dir.cbt5pty[class][class]{padding:4px;}

.i17d61fu[class][class]{display:flex;height:100%;width:100%;}

.ioa2q3t[class][class]{align-items:flex-end;display:flex;height:100%;position:absolute;top:0;width:100%;}

.i1tppizv[class][class]{font-weight:600;font-size:14px;line-height:18px;}

.dir.i1tppizv[class][class]{margin:12px;text-align:start;}

.o11dhjqa[class][class]{color:var(--f-k-smk-x);font-size:14px;line-height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.dir.o11dhjqa[class][class]{margin:var(--fgg-f-l-a) var(--d-b-mrdy) 0 var(--d-b-mrdy);}

.o1es9nqs[class][class]{font-weight:600;}
