.catp5v1[class][class]{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]{border-color:var(--f-mkcy-f);background:transparent;}

.catp5v1[class][class]:focus-visible{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:focus-visible{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

.catp5v1[class][class]:focus[data-focus-visible-added]{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:focus[data-focus-visible-added]{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

@media (hover:hover){
.catp5v1[class][class]:hover{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:hover{border-color:var(--f-mkcy-f);background:#4a4a4a;}}

.catp5v1[class][class]:active{color:var(--f-mkcy-f);}

.dir.catp5v1[class][class]:active{border-color:var(--f-mkcy-f);background:#4a4a4a;}

.catp5v1[class][class]:disabled{color:#878787;}

.dir.catp5v1[class][class]:disabled{cursor:not-allowed;background:transparent;border-color:#4a4a4a;}
.b128my4s[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b128my4s[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b128my4s[class][class]:disabled{opacity:0.3;}

.dir.b128my4s[class][class]:disabled{cursor:not-allowed;}

.c38b6lo[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);padding-top:8px;padding-bottom:8px;padding-left:16px;padding-right:16px;}

.dir.c38b6lo[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;transition:box-shadow 0.2s ease,transform 0.1s ease;border-color:var(--f-mkcy-f);background:transparent;padding-top:7px;padding-bottom:7px;padding-left:15px;padding-right:15px;}

@media (prefers-reduced-motion:reduce){
.dir.c38b6lo[class][class]{transition:none;}}

.c38b6lo[class][class]:focus-visible{outline:none;}

.dir.c38b6lo[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c38b6lo[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c38b6lo[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c38b6lo[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c38b6lo[class][class]:focus-visible{transition:none;}}

.c38b6lo[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c38b6lo[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c38b6lo[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c38b6lo[class][class]:active{transform:scale(0.96);}

.c38b6lo[class][class]:disabled{opacity:1;}

.c38b6lo[class][class]:focus-visible{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:focus-visible{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

.c38b6lo[class][class]:focus[data-focus-visible-added]{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:focus[data-focus-visible-added]{border-color:var(--f-mkcy-f);box-shadow:0 0 0 3px rgba(0,0,0,0.8),0 0 0 5px var(--f-mkcy-f);}

@media (hover:hover){
.c38b6lo[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:hover{border-color:var(--f-mkcy-f);background:#4a4a4a;}}

.c38b6lo[class][class]:active{color:var(--f-mkcy-f);}

.dir.c38b6lo[class][class]:active{border-color:var(--f-mkcy-f);background:#4a4a4a;}

.c38b6lo[class][class]:disabled{color:#878787;}

.dir.c38b6lo[class][class]:disabled{cursor:not-allowed;background:transparent;border-color:#4a4a4a;}

.f11os0jn[class][class]{width:100%;}

.s1dynm5b[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1dynm5b[class][class]:not(:focus){border:0;padding:0;}
.d7qkrn2[class][class]{height:1px;}

.dir.d7qkrn2[class][class]{background:var(--j-qkgmf);margin:8px 0;}
.l1pxf2fz[class][class]{align-self:center;}

.dir-ltr.l1pxf2fz[class][class]{margin-right:var(--fgg-f-l-a);}

.dir-rtl.l1pxf2fz[class][class]{margin-left:var(--fgg-f-l-a);}
