.a8jt5op[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.a8jt5op[class][class]{border:0;padding:0;}
@keyframes animation-64e8c8{
from{opacity:0.09049773755656108;}

to{opacity:0.15384615384615385;}}

.dir.atm_u_1yy80mb.atm_u_1yy80mb{animation-direction:alternate;}

.dir.atm_y_9cwzv5.atm_y_9cwzv5{animation-duration:1s;}

.dir.atm_12_q7pw6w.atm_12_q7pw6w{animation-fill-mode:forwards;}

.dir.atm_16_12c5xpv.atm_16_12c5xpv{animation-iteration-count:infinite;}

.dir.atm_1c_4hnrxs.atm_1c_4hnrxs{animation-name:var(--dls-shimmer-animation,animation-64e8c8);}

.atm_k4_7tcf61{opacity:0.09049773755656108;}

.dir.atm_1k_1ytfnp0.atm_1k_1ytfnp0{animation-timing-function:ease-in-out;}

.dir.atm_2d_1r31cwp.atm_2d_1r31cwp{background-color:currentColor;}

.atm_9s_1ulexfb{display:block;}

.atm_mk_h2mmj6{position:relative;}

@media (prefers-reduced-motion:reduce){
.dir.atm_1g8xqjd_glywfm.atm_1g8xqjd_glywfm{animation:none;}}

.dir.atm_1c_glywfm.atm_1c_glywfm{animation-name:none;}

.atm_vl_15vqwwr{visibility:hidden;}
.czcfm7x[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;}

.dir.czcfm7x[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.czcfm7x[class][class]:focus-visible{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.czcfm7x[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.czcfm7x[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.czcfm7x[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]{transition:none;}}

@media (hover:hover){
.czcfm7x[class][class]:hover{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:hover::before{background:var(---pc-g-v-g);}}

.czcfm7x[class][class]:active{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:active{transform:scale(0.92);}

.dir.czcfm7x[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:-moz-focusring{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.dir.czcfm7x[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.czcfm7x[class][class]:disabled{color:var(--j-qkgmf);}

.dir.czcfm7x[class][class]:disabled::before{background:transparent;}

.czcfm7x[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.czcfm7x[class][class]::before{border-radius:50%;}

.dir-ltr.czcfm7x[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.czcfm7x[class][class]::before{right:50%;transform:translate(50%,-50%);}

.czcfm7x[class][class]::before{width:32px;height:32px;}

.i1h5tsj6[class][class]{position:relative;}

.b3tjjh1[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3tjjh1[class][class]:not(:focus){border:0;padding:0;}

.b14e81y7[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b14e81y7[class][class]:not(:focus){border:0;padding:0;}
